<p style="color: green"><%= notice %></p>

<div class = "container summarycard">

<div class= "row">

  <% @posts.each do |post| %>
    <div class="col-lg-4 col-md-6 col-12 card">
        <h5><%= link_to post.title, post %></h5>
        <p><%= truncate post.body, length: 40 %> </p>
    </div> 
    <% end %>  

</div>
</div>







