<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class ="container preview-cards">
<div class="row">
<div class="col-sm">

    <div class="card-group">
<div class="card index-each">
  <div class="card-body">
    <h5 class="card-title"><%= link_to post.title, post %></h5>
    <p class="card-text"><%=  post.body %> </p>
  
  </div>  
  </div>
  </div>
 
  </div>
  </div>
</div>

</div>
<% end %>





